%h1= @movie.title
.jumbotron
  .row
    .col-sm-8
      %img.img-fluid{ src: @movie.cover, width: '100%' }
    .col-sm-4
      %h4
        = link_to @movie.title, movie_path(@movie)
      %p
        %strong
          = link_to @movie.genre.name, movies_genre_path(@movie.genre)
        = ' (' + @movie.released_at.to_s + ')'
      %p= @movie.description
      %p
        %strong
          Rating:
      %p= @movie.rating
      %p
        %strong
          Plot:
      %p= @movie.plot
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
